[Ll]ibrary/
[Bb]uilds/
Codes/Equilibrium of Existence/Temp
Codes/Equilibrium of Existence/obj/Debug
Codes/Equilibrium of Existence/Assembly-CSharp.csproj
Codes/Equilibrium of Existence/ProjectSettings/GraphicsSettings.asset
Codes/Equilibrium of Existence/ProjectSettings/TagManager.asset
Game Arts/References/emir_ref.pur
Game Arts/References/images.jfif
