# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Equilibrium of Existence.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Oyun Yapımı\Oyun Projeleri\Equilibrium of Existence\Codes\Equilibrium of Existence\.idea\.idea.Equilibrium of Existence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
